{% extends "_base.html.j2" %}

{% block title%}Generate New Names!{% endblock %}

{% block content %}
<h1>Name Generator</h1>
<p>This generator is populated by a wordlist. You can set the weights for each word, by adjusting the weights of different tags.</p>
<form method="post">
{{ csrf_input }}
{%- if names %}
<details open>
<summary><h2>Generated Names</h2></summary>
<p>Checking a name, will keep it in the results if you generate a new set.</p>
{%- for result in names %}
	<p>{%- if result.warn -%}
		<s>{{result.name}}</s>
		<span class="tooltip"><sup>ℹ</sup>
			<span class="tooltiptext">
				This generated name was a straight copy from the wordlist. Try using more balanced weights.
			</span>
		</span>
	{%- else -%}
	<input id='{{result.name}}' name='{{result.name}}' type='checkbox' value='pinned'
{%- if result.pinned %} checked{%- endif -%}> 
	<label for='{{result.name}}'>{{result.name}}</label>
	{%- endif -%}
	</p>
{%- endfor %}
</details>
{%- endif %}


	<input type="submit" class="card" value="Generate!"><br>
	<div class="row">
	{%- for tag, weight in tags.items() %}
	<div class="squeeze">
		<div class="card">
			<label class="label" for="{{tag}}">{{tag}}</label>
			<input type="number" id="{{tag}}" name="{{tag}}" value="{{weight}}">
		</div>
	</div>
	{%- endfor %}
	</div>
</form>
{% endblock %}
