{%- import 'rules/helpers/_helpers.html.j2' as helpers -%}

{% extends "rules/helpers/_sourced.html.j2" %}
{% block title %}Feat - {{ page_model.name }}{% endblock %}
{% block content %}
	<h1>{{ page_model.name }}</h1>
	<div class="row">
	</div>
<div class="main-content">

	{% if page_model.prerequisites %}
		<b>Prerequisites</b>
		<ul>
		{% for prereq in page_model.prerequisites %}
			<li>{{ prereq | markdown }}</li>
		{% endfor %}
		</ul>
	{% endif %}

	{% if page_model.flavor_text %}
	
	<i>{{ page_model.flavor_text | markdown }}</i>
	<br>
	{% endif %}
	<b>Benefit:</b>
	{{ page_model.benefit | markdown }}
</div>
{% endblock %}
