{%- import 'rules/helpers/_helpers.html.j2' as helpers -%}

{% extends "rules/helpers/_sourced.html.j2" %}
{% block title %}Skills - {{ page_model.name }}{% endblock %}
{% block content %}
	<h1>{{ page_model.name }}</h1>
	<div class="row">
	{{ helpers.field(page_model.ability_score, 'Ability') }}
	{{ helpers.field(page_model.armor_check_penalty, 'ACP') }}
	{{ helpers.field(page_model.trained_only, 'Trained Only') }}
	</div>
<div class="main-content">
	{{ page_model.text | markdown }}
</div>
{% endblock %}
