{%- set base_header_level = 3 -%}
{{ '#' * base_header_level }} [{{ name }}]({{ base_url + "skills/" + id }})

{% if brief_reference -%}
{{ brief_reference | safe }}
{%- else -%}
{{ text | safe }}
{%- endif %}

