{% extends "_base.html.j2" %}

{% block title %}
All {{page_model.title}}
{% endblock %}

{% block content %}
	<h1>{{page_model.title}}</h1>
	<table class="classOverview">
		<tr>
		{%- for heading in page_model.collection[0].keys()%}
			<th>{{heading}}</th>
		{% endfor %}
		</tr>
		{%- for row in page_model.collection%}
		<tr>
		{%- for value in row.values()%}
			<td>{{value | markdown}}</td>
		{% endfor %}
		</tr>
		{% endfor %}
	</table>
{% endblock %}
