<div class="row">
{{ helpers.field(spell.school_text, "School")}}
{{ helpers.field(spell.descriptors_text, "Descriptors")}}
{{ helpers.field(spell.casting_time, "Casting Time")}}
</div>
<div class="row">
{%- for component in spell.components -%}
{{ helpers.field(component, "")}}
{%- endfor -%}
</div>
<div class="row">
{{ helpers.field(spell.range, "Range")}}
{%- if spell.area -%}
{{ helpers.field(spell.area, "Area")}}
{%- endif -%}
{%- if spell.target -%}
{{ helpers.field(spell.target, "Target")}}
{%- endif -%}
{{ helpers.field(spell.duration, "Duration")}}
</div>
{%- if spell.saving_throw or spell.spell_resistance %}
<div class="row">
{{ helpers.field(spell.saving_throw, "Saving Throw")}}
{{ helpers.field(spell.spell_resistance, "Spell Resistance")}}
</div>
{%- endif -%}
	{{ spell.text | markdown }}
