{%- import 'rules/helpers/_helpers.html.j2' as helpers -%}

{% extends "rules/helpers/_sourced.html.j2" %}
{% block title %}Spell List{% endblock %}
{% block content %}
	{%- for spell in page_model -%}
<div class="main-content">
	<h3>{{ spell.name }}</h3>

<div class="row">
{{ helpers.field(spell.school_text, "School")}}
{%- if spell.descriptors_text -%}
{{ helpers.field(spell.descriptors_text, "Descriptors")}}
{%- endif -%}
{{ helpers.field(spell.casting_time, "Casting Time")}}
{{ helpers.field(spell.range, "Range")}}
{%- if spell.area -%}
{{ helpers.field(spell.area, "Area")}}
{%- endif -%}
{%- if spell.target -%}
{{ helpers.field(spell.target, "Target")}}
{%- endif -%}
{{ helpers.field(spell.duration, "Duration")}}
{%- if spell.saving_throw or spell.spell_resistance %}
{{ helpers.field(spell.saving_throw, "Saving Throw")}}
{{ helpers.field(spell.spell_resistance, "Spell Resistance")}}
{%- endif -%}
</div>
	{{ spell.text | markdown }}




</div>
{%- endfor -%}
{% endblock %}
